.introduction {
  text-align: center;
  font-family: "Times New Roman";
  font-size: 20px;
}

h1 {
  font-size: 25px;
  text-align: center;
}

/* .points {
  font-size: 18px;
  text-align: center;
} */

.card {
  position: relative;
  height: 160px;
  width: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  border-radius: 10%;
}

.dealertitle {
  font-size: 20px;
  text-align: center;
}

.dealermenu {
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dealer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dealervalue {
  font-size: 20px;
  padding-left: 5px;
}

.dealersuit {
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
}

#card1 {
  margin-right: 10px;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#deckfacedown {
  background-color: lightblue;
}

.remain {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.result {
  color: red;
  font-family: monospace;
  font-size: 25px;
  text-align: center;
}

.playertitle {
  font-size: 20px;
  text-align: center;
}

.playermenu {
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playervalue {
  font-size: 20px;
  padding-left: 5px;
}

.playersuit {
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
}

#card3 {
  margin-right: 10px;
}

.center-bottom {
  text-align: center;
  padding: 15px 20px 15px 20px;
}
