.background::after {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("https://thumbs.dreamstime.com/z/cute-god-wealth-cai-shen-cartoon-character-carrying-gold-cute-god-wealth-cai-shen-cartoon-character-illustration-208775219.jpg");
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* credit: https://codepen.io/cmccormack/pen/EdVrqM */
}

.introduction {
  text-align: center;
  font-family: "Times New Roman";
  font-size: 20px;
}

h1 {
  font-size: 25px;
  text-align: center;
}

.card {
  position: relative;
  height: 160px;
  width: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  border-radius: 10%;
  margin: 0px 8px 0px 8px;
}

.dealertitle {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.dealermenu {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dealer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#dealer0 {
  background-color: lightblue;
}

#dealer1 {
  background-color: lightblue;
}

.dealervalue {
  font-size: 20px;
  padding-left: 5px;
}

.dealersuit {
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#deckfacedown {
  background-color: lightblue;
}

.remain {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.result {
  color: black;
  font-family: monospace;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.playertitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.playermenu {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playervalue {
  font-size: 20px;
  padding-left: 5px;
}

.playersuit {
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
}

.center-bottom {
  text-align: center;
}

button {
  align-items: center;
  margin: 4px;
  border-radius: 10%;
}
